

/* common */
/* small screen */

body {
  position: relative;
  min-height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
}

a:link{
  color: #999;
  text-decoration: none;
}
a:visited{
  color: #999;
}
a:hover{
  text-decoration-line: none;
  color: blue;
}
a:active{

}
a:focus{

}


ul{
  list-style: none;
}


header{
  display:  block;
  width: 100%;
  background: #eee;
  margin: 0px auto;
  padding: 8px 0px 0px;
}

  .header1{
    width: 100%;
    height: 40px;
    font-size: 32px;
    background: #ddd;
    text-align: center;
  }


.contents{
  display:  block;
  width: 100%;
  background: #fff;
  margin: 0px auto;
  padding: 0 auto;
}


.user-container1{
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  padding-top: 12px;
}

  .buy-container2{
    width: 340px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    padding-top: 16px;
  }


  .buy-container2-2{
    width: 300px;
    /* height: 420px; */
    margin: 16px auto;
    padding: 0;
    background: #fff;
  }
    .item-detail-table{
      border-collapse:  collapse;
    }
    th{
      width: 120px;
      border: 1px solid #eee;
      margin: 0;
      padding: 8px;
      background: #eee;
      text-align: left;
    }
    td{
      width: 180px;
      border: 1px solid #eee;
      margin: 0;
      padding: 8px;
      text-align: left;
      word-wrap: break-word;
    }


  .btn-default1{
    width: 40%;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: #f00;
    margin: 16px auto;
  }

  .btn-return{
    position: relative;
    display: block;
    width: 40%;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background: #bbb;
    margin: 16px auto;
  }
  .btn-return2{
    display: block;
    width: 100%;
    height: 100%;
  }

  .btn-delete{
    position: relative;
    display: block;
    width: 40px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: #f00;
    margin: 4px auto;
  }



  .newitems{
    display:  flex;
    flex-wrap: wrap;
    width: 300px;
    /* height: 400px; */
    /* background: #ccc; */
    margin: 0px auto;
    padding: 0;
  }

    .newitem{
      display:  block;
      width: 120px;
      height: 180px;
      /* background: #ccc; */
      margin: 10px;
      padding: 0;
      border: 1px solid #666;
    }

      .itempicture{
        width: 120px;
        height: 120px;
        /* background: #ccc; */
        margin: 0;
        padding: 0;
        /* border: 1px solid #666; */
        /* text-align: center;
        display: table-cell;
        vertical-align: middle; */
      }

      .itempicture img{
        width: 120px;
        height: 120px;
        /* object-fit: cover; */
      }

      .itemname{
        display:  block;
        width: 120px;
        height: 60px;
        /* background: #ddd; */
        margin: 0;
        padding: 0;
        /* border: 1px solid #666; */
      }





footer{
  display:  flex;
  width: 100%;
  margin: 0px auto;
  padding: 8px 0px 0px;
  background: #eee;
}

  .footer1{
    display:  block;
    margin: 16px auto;;
  }

    .footer1-1{
      width: 100%;
    }

      .ul-footer1-1{
        margin: 0;
        padding: 0;
        text-align: center;
      }
        .list-footer1-1{
          margin-bottom: 10px;
        }



/* medium large screen */
@media (min-width: 768px) {

  header{
    width: 768px;
  }

    .header1{
      width: 768px;
    }

  .contents{
    width: 752px;
    padding-left: 16px;
  }

  footer{
    width: 768px;
  }



}
